.profile-bar {
    width: 210px;
    height: 81vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 58px;
    left: calc(100% - 210px); /* Position it to the right */
    background: white;
    z-index: 2;
}

@media (max-width: 768px) {
    .profile-bar {
        display: none; /* Hide the profile bar on smaller screens */
    }
}
.user {
    width: 100%;
    display: flex;
    height: 100px;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.user > img {
    width: 80px;
    height: 70px;
}

.user button {
    display: block;
    width: 100px;
    height: auto;
    border-radius: 7px;
    border: none;
    font-family: cursive;
}

.user button:hover {
    border: 2px solid orangered;
}

.user hr {
    width: 100%;
    background-color: black;
}

.myads {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.myads > img {
    width: auto;
    height: 24px;
    margin-right: 20px;
}

.myads:hover {
    background-color: lightgrey;
}
